{% extends 'base.html.twig' %}

{% block title %}Program Show!{% endblock %}
{% block head %}
    <head>  
        <meta charset="UTF-8">
    </head>
{% endblock %}

{% block body %}
        <h1>Program {{id}}</h1>

    </html>
{% endblock %}
